<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Telco - Confirm</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>

    <!-- user logged in-->
    <div th:if="${session.user != null}" id="id_logout">
        <a th:href="@{/Logout}">Logout</a>
        <p th:text="${'Nice to see you again ' + session.user.username}"></p>
    </div>

    <!-- user not logged in -->
    <div th:unless="${session.user != null}">
        <a th:href="index.html">Login</a>
    </div>

    <h1>Telco Service Application</h1>
    <h2>Confirm Subscription</h2>


    <div th:if= "${errorMessage == null}">

        <form action="PlaceOrder" method="POST">
            <fieldset>
                <legend>Confirm form</legend>

                <input type="hidden" name="idSubscription" th:value="${idSubscription}"/>

                <!-- package name -->
                <div>
                    <label for="packageName">Package selected:</label>
                    <label id="packageName" name="packageName" th:text="${servicePackage.name}">name</label>
                </div>

                <!-- periods -->
                <div>
                    <label for="period">Period:</label>
                    <label id="period" name="period" th:text="${period.id}">01</label>
                </div>

                <!-- products -->
                <div>
                    <label>Optional products:</label>
                    <p th:if="${productsChosen.isEmpty()}">no optional products available</p>

                    <div th:unless="${productsChosen.isEmpty()}">

                        <ul name="product" th:each="product : ${productsChosen}">
                            <li th:text="${product.description}">product</li>
                        </ul>

                    </div>
                </div>

                <!-- date -->
                <div>
                    <label for="date">Start date:</label>
                    <label id="date" name="date" th:text="${date}">00-00-00</label>
                </div>

                <!-- total price -->
                <div>
                    <label for="price">Total price:</label>
                    <label id="price" name="price" th:text="${totalPrice}">0.00</label>
                </div>

                <!-- submit -->
                <div th:if="${logged}">
                    <input type="submit" value="Buy">

                </div>


            </fieldset>
        </form>


        <div th:unless="${logged}">

            <a th:href="index.html">
                <input type="submit" value="Login">
            </a>
        </div>

    </div>

    <!-- success -->
    <p th:text="${successMessage}">success message</p>

    <!-- error -->
    <div th:if= "${errorMessage != null}">
        <p th:text=" ${errorMessage}">error message</p>
        <a th:href="@{/GoToHome}"><h3>back to home</h3></a>
    </div>


</body>
</html>